h1 a{
    float: right;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
    font-weight: 300;
    padding: 10px;
    border-radius: 5px;
    background: blue;
    color:#fff;
}